.work--cont {
    margin-top: 3%;
    padding: 2%;
    display: flex;
    justify-content: center;
    font-size: 1rem;

}

.work--items {
    display: flex;
    gap: 5%;
    align-items: center;
}

.jobs {
    max-width: 27rem;
    max-height: 40rem;
    min-height: 19rem;
    font-size: medium;
    padding: 7%;
    background-color: rgb(227, 115, 115);;
    border-radius: 50%;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.8);

}

.arrow {
    height: 5%;
}
.work--title, .work--desc {
    text-align: center;
}


@media only screen and (max-width: 700px) {
    .work--cont {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .jobs {
        font-size: small;
        max-height: 25rem;
    }
}

@media only screen and (max-width: 300px) {
    .jobs {
        font-size: x-small;
        padding: 10%;
    }
}

