@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  /* outline: solid red; */
}

body {
  margin: 0;
  font-family: Inter , sans-serif;
}

.nav {
  /* outline: solid black; */
  /* background: rgb(208, 196, 196); */
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
  color: black;
  background: white;
  margin-bottom: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.nav--items {
  /* outline: black solid; */
  margin-right: 1rem;
}

.nav--items ul {
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;
  gap: 1.5rem;
}

.nav--items li:hover {
  background-color: rgb(247, 244, 247);
}

.nav--title {
  margin: .5rem;
  font-size: 1.5rem;
  color: rgb(227, 115, 115);
}

.nav ul li a {
  text-decoration: none;
  color:black;
  display: block;
  padding: 1rem;
}
 
.Home {
  background-image: url('./images/jump.JPG');
  background-size: 125rem;
  background-repeat: no-repeat;
  min-height: 75vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-position: center center;
  margin-bottom: 5vh;
}


.intro--cont {
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: black solid; */


}

.intro--items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem
}

.intro--text {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.intro--title {
  color: rgb(227, 115, 115);;
}

.intro--pic {
  width: 20vw;
  border-radius: 6rem;
}

.Home--text {

}

@media only screen and (max-width: 600px) {
.intro--cont {
  font-size: smaller;

}


.Home {
  background-size: contain ;
  margin-bottom: 0;
}

.nav {
  margin-bottom: 0;
}


}

@media only screen and (max-width: 850px) {
  .toggle-button {
    display: flex;
  
  }
  
  .nav--items {
    /* display: none; */
    width: 100%;
  }
  
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav--items ul {
    width: 100%;
    flex-direction: column;

  }

  .nav--items li {
    text-align: center;
  }

  .nav--items ul li a {
    padding: .3rem 1rem;
  }
}