@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  /* outline: solid red; */
  font-weight: 600;
}
hr{
  opacity: 35%;
  color: gray;
  width: 75%;
  background-color: gray;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  font-family: Inter , sans-serif;
}


 
.Home {
  background-image: url('./images/jump.JPG');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50rem;
  /* background-position: cover; */
  background-position: center center;

}


.welcome:hover {
  transform: scale(1.1);
}

.intro--cont {
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: black solid; */
  padding: 5% 5% 8% ;

}

.intro--items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  max-width: 70vw;
}

.intro--text {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  min-width: 5rem;
}

.intro--title {
  color: rgb(227, 115, 115);
  transition: transform 0.2s;
  min-width: 50%;
  max-width: 50.2%;
  
}
.intro--title:hover {
  transform: scale(1.1);
}

.intro--pic {
  width: 200px;
  border-radius: 90%;
  transition: transform 0.2s;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);

}

.intro--pic:hover {
  transform: scale(1.1);
}

.projects--cont {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
  grid-template-rows: .2fr .3fr 2fr .3fr;
  gap: 2rem;
  
}

.projects--title {
  grid-row: 2;
  grid-column: 3;
  text-align: center;
  color: rgb(227, 115, 115);
  font-size: xx-large;
  transition: transform 0.2s;
  width: 90%;

} 

.projects--title:hover {
  transform: scale(1.06);
}

.projects--link {
  text-decoration: none;
  color: none;

}

.bubble {
  border-radius: 9%;
  padding: 5%;
  min-height: 35%;
  /* max-width: 100%; */
  min-width: 75%;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;

}

.bubble:hover {
  background-color: rgb(243, 243, 243);
  transform: scale(1.05);
  cursor: pointer;
}

.bubble--list {
  line-height: 2.2rem;
  /* outline: solid; */
  min-width: 85%;
  max-width: 95%;
  font-size: medium;
  color: black;
}

.bubble-desc {
  font-style: oblique;
  color: black;
}

.bubble--title {
  color: rgb(227, 115, 115);
  
}


.projects--cont div:nth-child(2) {
  grid-column: 2;
  grid-row: 3;
}

.projects--cont div:nth-child(3) {
  grid-column: 3;
  grid-row: 3;
}

.projects--cont div:nth-child(4) {
  grid-column: 4;
  grid-row: 3;
}


@media only screen and (max-width: 700px) {
.intro--cont {
  font-size: smaller;
  padding-bottom: 15%;

}

.intro--text {
  font-size: small;
}

.intro--pic {
  width: 45%;
}

.Home {
  margin-bottom: 0;
  background-size: cover;
  background-position: 64%;
}

.welcome {
  width: 42%;
}

.nav {
  margin-bottom: 0;
}

/* .intro--cont {
  margin: 0;
  padding: 0;
}

.intro--text {
  margin-left: 0;
} */

.bubble {
  font-size: small;
}

.projects--title {
  font-size: 108%;
}

}


@media only screen and (max-width: 1130px) {
  .projects--cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    place-items: center;
    margin-bottom: 13%;
  
  }
  
  .projects--title {
    grid-column: 1;
    grid-row: 2;
    width: 25%;
  }
  .projects--cont div:nth-child(2) {
    grid-column: 1;
    grid-row: 3;
  }
  
  .projects--cont div:nth-child(3) {
    grid-column: 1;
    grid-row: 4;
  }
  
  .projects--cont div:nth-child(4) {
    grid-column: 1;
    grid-row: 5;
  }
}
